<div class="payment-wrapper">
    <div class="payment-content">
        <div class="left-wrapper">
            <div class="client">
                <p class="client-header">Client:</p>
                <p class="client-name">client.fiscalName</p>
            </div>
            <mat-tab-group mat-align-tabs="start" (selectedTabChange)="getTab($event)">


                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>euro_symbol</mat-icon>
                        <p>CASH</p>
                    </ng-template>
                    <div>
                        <div class="amount-pay-remaining">
                            <p class="amount-header">Recibed:</p>
                            <div class="input-container">
                                <input type="number" name="deposited" (change)="handleChange($event)" /> €
                            </div>
                        </div>
                        <div class="amount-pay-remaining">
                            <p class="amount-header">Falta</p>
                            <div class="input-container">{{change}}€</div>
                        </div>
                        <div class="amount-pay-remaining">
                            <p class="amount-header">Cambio</p>
                            <div class="input-container">{{remaining}}€</div>
                        </div>
                    </div>
                </mat-tab>

                <mat-icon>credit_card</mat-icon>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>credit_card</mat-icon>
                        <p>CARD</p>
                    </ng-template>
                    <h2>Proceed with the Card Lector Instructions</h2>
                </mat-tab>
            </mat-tab-group>


            <div class="payment-buttons">
                <div class="button cancel" (click)="closeModal()">
                    CANCELAR
                </div>
                <div class="button complete">
                    COMPLETAR
                </div>
            </div>
        </div>
        <div class="right-wrapper">
            <div class="ticket">
                <div class="company-data">
                    <p>company.data.fiscalName</p>
                    <p>company.data.address</p>
                    <p>company.data.city</p>
                    <p>this.state.company.data.email</p>
                    <p>this.state.company.data.telNumber</p>
                    <br />
                    <p>------------------------------------</p>
                </div>
                <div class="ticket-data">
                    <div class="item header">
                        <div class="qty">
                            CANT
                        </div>
                        <div class="name">
                            PRODUCTO
                        </div>
                        <div class="total">
                            TOTAL
                        </div>
                    </div>

                    <div key="product._id" class="item">
                        <div class="qty">
                            product.qty
                        </div>
                        <div class="name">
                            product.name
                        </div>
                        <div class="total">
                            product.total.toFixed(2)€
                        </div>
                    </div>

                </div>
                <div class="ticket-resume">


                    <div>
                        <p class="title">SUB TOTAL:</p>
                        <p>this.state.amountValueCopy€</p>
                    </div>
                    <div>
                        <p class="title">DESCUENTO:</p>
                        <p>this.state.discountValue€</p>
                    </div>


                    <div>
                        <p class="title">IVA inc.:</p>
                        <p>this.state.tax €</p>
                    </div>
                    <div>
                        <p class="title">TOTAL:</p>
                        <p> this.state.amountValue €</p>
                    </div>
                </div>
            </div>
            <div class="discount">
                <p>Descuento €:</p>
                <input type="number" name="discount" (change)="handleChange($event)" autofocus /> €
            </div>
            <div class="total-basket">
                <p>TOTAL: {{amountValueCopy}}</p>
            </div>
        </div>
    </div>

</div>