<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>
                <mat-icon>{{icon}}</mat-icon> {{ pageTitle }}
            </h1>
        </mat-card-title>
    </mat-card-header>

    <mat-toolbar-row>
        <mat-toolbar-row>
            <span class="title-spacer"></span>
            <mat-form-field appearance="standard" class="search-form-fileld">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)">
                <mat-icon>filter_list</mat-icon>
            </mat-form-field>
        </mat-toolbar-row>
    </mat-toolbar-row>

    <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="edit" *ngIf="isAdmin">
            <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-mini-fab color="accent" (click)="openEdit(element)">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="image" *ngIf="image">
            <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
            <mat-cell *matCellDef="let element"> <img src="{{element.img}}" alt="{{element.name}}" width="60px">
            </mat-cell>
        </ng-container>

        <ng-container [matColumnDef]="column" *ngFor="let column of columns">
            <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

    <div class="loading" *ngIf="isLoading" style="text-align: center;padding: 20px;">
        <mat-progress-spinner mode="indeterminate" *ngIf="isLoading" style="margin: 0 auto;"></mat-progress-spinner>
        <!-- <div *ngIf="isErrorLoading">
            <mat-card-title>The server is taking longer than usual to respond 😥</mat-card-title>
            <mat-card-subtitle>Please try again later</mat-card-subtitle>
        </div> -->
    </div>
</mat-card>